<div class="top-title">
  <div class="row">
    <div class="col-12">
      <div class="title-img">
        <img src="./assets/Images/slide-1.jpg">
        <div class="title-content">
          <div class="div-name">Events</div>
          <div class="div-path">
            <span routerLink="/home">Home</span>&nbsp; > &nbsp;<span routerLink="/events">Events</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="left-div">
          <div class="col-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/Images/blogthumbnail.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/Images/event_detail.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/Images/event_detail2.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="event-title">
            <h4>CONVOCATION FOR GRADUATE STUDENTS</h4>
            <div class="venue">
              <span><mat-icon>calendar_month</mat-icon>&nbsp; 11/12/2022</span>&nbsp;&nbsp;
              <span><mat-icon>schedule</mat-icon>&nbsp; 10.00am-4.00pm</span>
            </div>
            <hr style="color: orangered">
            <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda eius ex in itaque, minima
              officia officiis ratione, tempora ullam vel velit veritatis. A assumenda cum harum, in nam neque!</p>
            <h5>Convocation Day information</h5>
            <p>Join our team for this event we will support you all the way, providing training and fundraising tips.</p>
            <div class="event-btn-set1">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                  <button><i class="fa fa-plus"></i>&nbsp;&nbsp; GOOGLE CALENDER</button>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                  <button><i class="fa fa-plus"></i>&nbsp;&nbsp; LOCAL EXPERT</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                  <button>DETAILS</button>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                  <button>ORGANIZER</button>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                  <button>VENUE</button>
                </div>
              </div>
            </div>
            <hr>
            <br>
            <h4>EVENT SPEAKERS</h4>
            <div class="event-speakers">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="speaker-des">
                    <div class="speaker-img">
                      <div class="col-12">
                        <img src="./assets/Images/event-sp.jpg" alt="speaker">
                      </div>
                    </div>
                    <h5>JIM TAYLOR</h5>
                    <span>Speaker</span>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="speaker-des">
                    <div class="speaker-img">
                      <div class="col-12">
                        <img src="./assets/Images/event-sp2.jpg" alt="speaker">
                      </div>
                    </div>
                    <h5>ALBERTA DOE</h5>
                    <span>Speaker</span>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="speaker-des">
                    <div class="speaker-img">
                      <div class="col-12">
                        <img src="./assets/Images/event-sp3.jpg" alt="speaker">
                      </div>
                    </div>
                    <h5>ANNA LEX</h5>
                    <span>Speaker</span>
                  </div>
                </div>
              </div>
              <div class="event-btn-set2">
                <button><i class="fas fa-angle-left"></i> &nbsp;PREV EVENT</button>
                <button>NEXT EVENT &nbsp;<i class="fas fa-angle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="right-div">
          <h1>SEARCH COURSE</h1>
          <input type="email" class="input-wrapper" placeholder="key word:">
          <br>
          <hr>
          <br>
          <h1>ARCHIVES</h1>
          <div class="achieves-list">
            <span><p><i class="fas fa-angle-right"></i> &nbsp;January</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;February</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;March</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;April</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;May</p></span>
          </div>
          <br>
          <hr>
          <br>
          <h1>CATEGORIES</h1>
          <div class="cat-list">
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Science</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Commerce</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Art</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Technology</p></span>
          </div>
          <br>
          <hr>
          <br>
          <h1>TAGS CLOUD</h1>
          <button>SCIENCE</button>
          <button>TECHNOLOGY</button>
          <button>ORGANIC</button>
          <button>TESLA</button>
          <button>ART</button>
          <button>GUITAR CHORDS</button>
          <button>TOOLS</button>
          <button>JAVA</button>
        </div>
      </div>
    </div>
  </div>
</div>
