<div class="main-outer">
  <div class="col-12">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="./assets/Images/slide-1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>The best learning institution</h5>
            <h2>WELCOME TO E EDUCATION</h2>
            <button>READ MORE</button>
            <p>We Believe There Is Nothing More Important Than Education</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="./assets/Images/slide-2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Opening a new world of education</h5>
            <h2>LARGEST EDUCATION INSTITUTE</h2>
            <button>READ MORE</button>
            <p>We are the largest private education institute</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/Images/slide-3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>New online courses</h5>
            <h2>WE BRING NEW ONLINE COURSES</h2>
            <button>READ MORE</button>
            <p>Largest online courses available here</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="courses">
          <h2>COURSE CATEGORIES</h2>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat science">
              <div class="course-icon">
                <mat-icon>biotech</mat-icon>
              </div>
              <div class="course-des">
                <h4>Science & Mathematics</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat commerce">
              <div class="course-icon">
                <mat-icon>query_stats</mat-icon>
              </div>
              <div class="course-des">
                <h4>Commerce</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat arts">
              <div class="course-icon">
                <mat-icon>palette</mat-icon>
              </div>
              <div class="course-des">
                <h4>Art</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat technology">
              <div class="course-icon">
                <mat-icon>tips_and_updates</mat-icon>
              </div>
              <div class="course-des">
                <h4>Technology</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat ols">
              <div class="course-icon">
                <mat-icon>auto_stories</mat-icon>
              </div>
              <div class="course-des">
                <h4>OLs</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="courseCat primary">
              <div class="course-icon">
                <mat-icon>abc</mat-icon>
              </div>
              <div class="course-des">
                <h4>Primary Classes</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veniam?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="searchCourses">
          <h2>COURSE CATEGORIES</h2>
          <div class="row">
            <div class="col-12">
              <div class="col-12">
                <mat-form-field class="input-wrapper" appearance="outline" style="margin-top: 25px">
                  <input type="text" matInput placeholder="Full Name">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="input-wrapper" appearance="outline">
                  <input type="email" matInput placeholder="Email">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="input-wrapper">
                  <mat-label>SELECT</mat-label>
                  <mat-select  name="select">
                    <mat-option>select 1</mat-option>
                    <mat-option>select 2</mat-option>
                    <mat-option>select 3</mat-option>
                    <mat-option>select 4</mat-option>
                    <mat-option>select 5</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="input-wrapper">
                  <mat-label>SELECT</mat-label>
                  <mat-select  name="select">
                    <mat-option>select 1</mat-option>
                    <mat-option>select 2</mat-option>
                    <mat-option>select 3</mat-option>
                    <mat-option>select 4</mat-option>
                    <mat-option>select 5</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="input-wrapper" appearance="outline">
                  <input type="text" matInput placeholder="Enter your keywords:">
                </mat-form-field>
              </div>
              <div class="col-12">
                <button mat-raised-button color="accent" class="input-wrapper" style="height: 50px">Search Courses</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="welcome-div">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="welcome-img">
            <img src="./assets/Images/welcomeInstitute.jpg" alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="welcome-des">
            <div class="welcome-title">
              <h1>WELCOME TO E EDUCATION</h1>
              <div class="ins-materials">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="mat">
                      <div class="materials-icons">
                        <mat-icon>travel_explore</mat-icon>
                      </div>
                      <div class="mat-title">
                        <h4>BOOKS AND LIBRARY</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptate?</p>
                      <span>View More</span>
                      <div class="intro-img">
                        <img src="./assets/Images/intro-1.jpg" alt="intro">
                        <div class="content fade">Learn Courses</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="mat">
                      <div class="materials-icons">
                        <mat-icon>menu_book</mat-icon>
                      </div>
                      <div class="mat-title">
                        <h4>LEARN COURSES ONLINE</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptate?</p>
                      <span>View More</span>
                      <div class="intro-img">
                        <img src="./assets/Images/intro-2.jpg" alt="intro">
                        <div class="content fade">Learn Courses</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="mat">
                      <div class="materials-icons">
                        <mat-icon>cast_for_education</mat-icon>
                      </div>
                      <div class="mat-title">
                        <h4>BECOME A INSTRUCTOR</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptate?</p>
                      <span>View More</span>
                      <div class="intro-img">
                        <img src="./assets/Images/intro-3.jpg" alt="intro">
                        <div class="content fade">Learn Courses</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="courses-div">
    <div class="container">
      <div class="courses">
        <h2>OUR COURSES</h2>
      </div>
      <div class="our-courses">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="course-description">
              <div class="course-img">
                <img src="./assets/Images/course-3.webp">
                <div class="content-course fade-course">SEE MORE</div>
              </div>
              <h2>BIOLOGY</h2>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias animi, delectus ex labore laborum minus omnis quisquam! Dolor, eum, possimus.</p>
            </div>
            <div class="course-instructor">
              <div class="instructor-pro pp1"></div>
              <div class="instructor-name">Sara Johnson</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="course-description">
              <div class="course-img">
                <img src="./assets/Images/course-2.webp">
                <div class="content-course fade-course">SEE MORE</div>
              </div>
              <h2>CHEMISTRY</h2>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut quod saepe! Dignissimos facilis
                laboriosam, maxime, molestiae numquam pariatur perspiciatis praesentium quidem, quo sit.</p>
            </div>
            <div class="course-instructor">
              <div class="instructor-pro pp2"></div>
              <div class="instructor-name">Johny Fisher</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="course-description">
              <div class="course-img">
                <img src="./assets/Images/course-1.webp">
                <div class="content-course fade-course">SEE MORE</div>
              </div>
              <h2>SCIENCE FOR TECHNOLOGY</h2>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci alias consequuntur fugiat nam placeat qui.</p>
            </div>
            <div class="course-instructor">
              <div class="instructor-pro pp3"></div>
              <div class="instructor-name">Peter Parker</div>
            </div>
          </div>

          <div class="col-12">
            <div class="view-all-courses">
              <button>VIEW ALL COURSES</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
