.main-outer {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.carousel-caption {
  margin-bottom: 200px;

  h5 {
    color: white;
    font-family: "Times New Roman", sans-serif;
    margin: 10px 0;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
  }

  h2 {
    font-weight: bold;
    color: white;
    font-family: "Times New Roman", sans-serif;
    margin: 10px 0;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
  }

  button {
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin: 10px 0;
  }

  button:hover {
    background-color: #e79800;
  }

  p {
    color: white;
    font-family: "Times New Roman", sans-serif;
    margin: 10px 0;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
  }
}

.courses {
  height: auto;
  margin-top: 30px;
  font-family: "Times New Roman", sans-serif;
}

.searchCourses {
  min-height: 100px;
  height: auto;
  margin-top: 30px;
  font-family: "Times New Roman", sans-serif;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  .input-wrapper {
    width: 100%;
  }
}

.courseCat {
  margin-top: 25px;
  height: 150px;
  background-color: #f8f8f8;
  border: 3px solid transparent;
  display: flex;
  flex: 1;

  .course-icon {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      font-size: 40px;
    }
  }

  .course-des {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: justify;
      margin-left: 10px;
    }
  }
}

.science {
  border-right-color: #079D92;

  mat-icon {
    color: #079D92;
  }
}

.science:hover {
  color: white;
  background-color: #24CCC0;

  mat-icon {
    color: white;
  }
}

.commerce {
  border-right-color: #FD2A03;

  mat-icon {
    color: #FD2A03;
  }
}

.commerce:hover {
  color: white;
  background-color: #FC5F42;

  mat-icon {
    color: white;
  }
}

.arts {
  border-right-color: #9000AE;

  mat-icon {
    color: #9000AE;
  }
}

.arts:hover {
  color: white;
  background-color: #AD33C6;

  mat-icon {
    color: white;
  }
}

.technology {
  border-right-color: #008BE7;

  mat-icon {
    color: #008BE7;
  }
}

.technology:hover {
  color: white;
  background-color: #45AEF4;

  mat-icon {
    color: white;
  }
}

.ols {
  border-right-color: #0EB053;
  margin-bottom: 50px;

  mat-icon {
    color: #0EB053;
  }
}

.ols:hover {
  color: white;
  background-color: #10C45C;

  mat-icon {
    color: white;
  }
}

.primary {
  border-right-color: #E1A500;
  margin-bottom: 50px;

  mat-icon {
    color: #E1A500;
  }
}

.primary:hover {
  color: white;
  background-color: #F8C331;

  mat-icon {
    color: white;
  }
}

.welcome-div {
  min-height: 100px;
  height: auto;
  width: 100%;
  background-color: #f8f8f8;
  overflow-x: hidden;

  .welcome-img {
    img {
      width: 100%;
    }
  }

  .welcome-des {
    flex: 1;
  }

  .welcome-title {
    width: 100%;
    min-height: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: "Times New Roman", sans-serif;
      font-size: 30px;
    }

    .ins-materials {
      width: 100%;
      min-height: 200px;
      height: auto;

      .mat {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .materials-icons {
          width: auto;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 10px;
          border-radius: 100%;
          background-color: white;
          box-shadow: 1px 1px 2px black;

          mat-icon {
            margin: 25px;
          }
        }

        .mat-title{
          margin-top: 20px;
          display: inline-block;
          max-width: 95%;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;

          h4{
            font-size: 18px;
            font-family: "Times New Roman", sans-serif;
          }
        }

        p{
          text-align: center;
        }
        span{
          margin-top: 10px;
          font-weight: bolder;
        }

        .intro-img{
          position: relative;
          margin-top: 20px;
          width: 100%;
          height: auto;
          overflow: hidden;

          img{
            display: block;
            object-fit: cover;
            object-position: center;
          }
          .content{
            position: absolute;
            inset: 0;
            font-size: 20px;
            font-weight: bold;
            color: white;
            padding: 10px;
            background: rgba(255,165,0,0.6);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          img,.content{
            transition: 200ms ease-in-out;
          }
        }
        .intro-img:hover > .content.fade{
          opacity: 1;
        }
        .intro-img > .content.fade{
          opacity: 0;
        }
      }

      .mat:hover{
        color: #e79800;
        cursor: pointer;
      }
    }
  }
}

.courses-div{

  .our-courses{
    width: 100%;
    min-height: 500px;
    height: auto;

    .course-description{
      min-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;

      .course-img{
        width: 100%;
        height: auto;
        overflow: hidden;
        aspect-ratio: 2/1;
        position: relative;

        img{
          display: block;
          object-fit: cover;
          object-position: center;
        }
        .content-course{
          position: absolute;
          inset: 0;
          font-size: 20px;
          font-weight: bold;
          color: white;
          padding: 10px;
          background: rgba(255,165,0,0.6);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        img,.content-course{
          transition: 200ms ease-in-out;
        }
      }

      h2{
        font-family: "Times New Roman", sans-serif;
        font-weight: bold;
        text-align: center;
      }

      p{
        text-align: center;
      }
    }
    .course-description:hover > h2{
      color: #e79800;
    }
    .course-description:hover > .course-img > .content-course.fade-course{
      opacity: 1;
    }
    .course-description > .course-img > .content-course.fade-course{
      opacity: 0;
    }

    .course-instructor{
      width: 100%;
      height: 60px;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      margin-bottom: 20px;
      border: 1px solid black;

      .instructor-pro{
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      .pp1{background-image: url("http://kodeforest.net/html/uoe/extra-images/cur_ft.jpg")}
      .pp2{background-image: url("http://kodeforest.net/html/uoe/extra-images/cur_ft-2.jpg")}
      .pp3{background-image: url("http://kodeforest.net/html/uoe/extra-images/cur_ft-3.jpg")}

      .instructor-name{
        font-family: "Times New Roman", sans-serif;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .view-all-courses{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

      button{
        height: 40px;
        background-color: transparent;
        color: #e79800;
        font-weight: bold;
        border: 1px solid #e79800;
      }
      button:hover{
        background-color: black;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

.faculty-div{
  width: 100%;
  height: auto;
  min-height: 200px;
  overflow-x: hidden;

  .faculty-des{
    width: 100%;
    height: auto;
    min-height: 300px;
    border: 1px solid red;
  }
}
