<div class="main-outer">
  <div class="top-bar" routerLink="/home">
    <div class="logo">
      <img src="../assets/Images/logo.png" alt="logo">
      <div class="logo-text" routerLink="/home">
        <p><span>e</span>&nbsp;Education</p>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="contact">
      <p>Call Us on &nbsp;011 1234567</p>
    </div>
    <div class="button-set">
      <button [ngStyle]="{'text-decoration':(nbtnStyle==true)?'underline':'none'}"(click)="nsubmit()" routerLink="/news">News</button>
      <button [ngStyle]="{'text-decoration':(ebtnStyle==true)?'underline':'none'}"(click)="esubmit()" routerLink="/events">Events</button>
      <button [ngStyle]="{'text-decoration':(cbtnStyle==true)?'underline':'none'}"(click)="csubmit()" routerLink="/contact">Contact Us</button>
      <button [ngStyle]="{'text-decoration':(rbtnStyle==true)?'underline':'none'}"(click)="rsubmit()" routerLink="/register"><mat-icon style="font-size: 16px ">person</mat-icon>Register</button>
      <button [ngStyle]="{'text-decoration':(sbtnStyle==true)?'underline':'none'}"(click)="ssubmit()" routerLink="/signIn"><mat-icon style="font-size: 16px ">login</mat-icon>Sign In</button>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
