.main-outer{
  width: 100%;
  height: auto;

  .top-bar{
    width: 100%;
    height: 60px;
    background-color: #262626;
    display: flex;
    align-items: center;

    .logo{
      height: 50px;
      width: auto;
      margin-left: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .logo-text{
        height: 50px;
        width: auto;
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        p{
          text-align: center;
          font-size: 25px;
          font-weight: bolder;
          color: white;
          margin: 0;

          span{
            font-style: italic;
            color: #81b441;
          }
        }
      }
    }
  }

  .nav-bar{
    width: 100%;
    height: 50px;
    background-color: #e79800;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contact{
      margin: 0;
      p{
        text-align: center;
        color: white;
        margin: 0 30px;
      }
    }

    .button-set{
      margin-right: 20px;
      button{
        background: none;
        border: none;
        color: white;
        margin-right: 10px;
      }
    }
  }

}

.btn-clicked{
  font-weight: bold;
  text-decoration: underline;
}
