<div class="top-title">
  <div class="row">
    <div class="col-12">
      <div class="title-img">
        <img src="./assets/Images/slide-1.jpg">
        <div class="title-content">
          <div class="div-name">News</div>
          <div class="div-path">
            <span routerLink="/home">Home</span> > <span routerLink="/news">News</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="left-div">
          <div class="col-12">
            <img src="./assets/Images/blogthumbnail.jpg" alt="thumbnail">
          </div>
            <div class="news-title">
              <h4>EXCEPTEUR SINT OCCAECAT CUPIDATAT NON PROIDENT,
                SUNT IN CULPA QUI OFFICIA DESERUNT MOLLIT ANIM ID EST LABORUM</h4>
              <div class="like-count">
                <span><mat-icon>calendar_month</mat-icon>&nbsp; 11/12/2022</span>&nbsp;&nbsp;
                <span><mat-icon>favorite</mat-icon>&nbsp; 69 Likes</span>&nbsp;&nbsp;
                <span><mat-icon>comment</mat-icon>&nbsp; 27 Comments</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias autem deleniti eos eveniet hic in
                ipsa itaque magni, molestiae nam nemo officiis omnis qui sequi sit tempore. Animi aspernatur, distinctio
                eos id illo minus quis quos recusandae sit vitae?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur consectetur,
                consequuntur debitis doloremque maiores minima minus recusandae saepe sapiente. Aliquam atque
                consequuntur ipsam laudantium libero nam natus odit porro! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Accusamus adipisci, culpa ducimus incidunt ipsam minus tempora vero voluptatibus!
                Quisquam, tempora.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, doloremque dolores eum labore quaerat
                quasi rerum sint tempora ullam veritatis?</p>
              <div class="article-img">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="article-img-wrapper">
                      <img src="./assets/Images/blog_detail1.jpg">
                      <div class="news-content news-fade">
                        <button>
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="article-img-wrapper">
                      <img src="./assets/Images/blog_detail2.jpg">
                      <div class="news-content news-fade">
                        <button>
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="article-img-wrapper">
                      <img src="./assets/Images/blog_detail3.jpg">
                      <div class="news-content news-fade">
                        <button>
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fugit impedit in odio tempora
                voluptatum.</p>
            </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="right-div">
          <h1>SEARCH COURSE</h1>
          <input type="email" class="input-wrapper" placeholder="key word:">
          <br>
          <hr>
          <br>
          <h1>ARCHIVES</h1>
          <div class="achieves-list">
            <span><p><i class="fas fa-angle-right"></i> &nbsp;January</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;February</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;March</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;April</p></span>
            <hr>
            <span><p><i class="fas fa-angle-right"></i> &nbsp;May</p></span>
          </div>
          <br>
          <hr>
          <br>
          <h1>CATEGORIES</h1>
          <div class="cat-list">
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Science</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Commerce</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Art</p></span>
            <span><p><i class="fas fa-caret-right"></i> &nbsp;Technology</p></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
