<div class="top-title">
  <div class="row">
    <div class="col-12">
      <div class="title-img">
        <img src="./assets/Images/slide-1.jpg">
        <div class="title-content">
          <div class="div-name">News</div>
          <div class="div-path">
            <span routerLink="/home">Home</span> > <span routerLink="/news">News</span></div>
        </div>
      </div>
    </div>
  </div>

    <div class="container" style="margin-top: 50px">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div class="left-div">
            <div class="col-12">
              <img src="./assets/Images/blogthumbnail.jpg" alt="thumbnail">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="right-div"></div>
        </div>
      </div>
  </div>
</div>
