<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Send Message Us
                  </h5>
                </div>
                <div>
                    <div class="form-group user-name">
                      <label for="name" class="sr-only">Name</label>
                      <!-- "id" for taking name -->
                      <input type="text" class="form-control" required="" id="name" placeholder="First Name">
                    </div>
                    <div class="form-group user-email">
                      <label for="email" class="sr-only">Email</label>
                      <!-- "id" for taking email -->
                      <input type="email" class="form-control" required="" id="email" placeholder="Email Address">
                    </div>
                    <div class="form-group user-phone">
                      <label for="contacts" class="sr-only">Contact Number</label>
                      <!-- "id" for taking contact number -->
                      <input type="text" class="form-control" required="" id="contacts" placeholder="Phone">
                    </div>
                    <div class="form-group user-message">
                      <label for="message" class="sr-only">Message</label>
                      <!-- "id" for taking message -->
                      <textarea class="form-control" required="" id="message" placeholder="Write Message"></textarea>
                    </div>
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                  <!--                                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="ok()"></iframe>-->
                </div>
              </div>
              <div class="col-md-6">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Get in Touch
                  </h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores doloremque dolorum
                    eius eligendi eos est in ipsa minima, minus numquam obcaecati optio perferendis provident quam quos
                    tenetur ut velit.
                  </p>
                  <ul>
                    <li><mat-icon>home</mat-icon> &nbsp;Address: 123 asdds aadds.</li>
                    <li><mat-icon>phone_in_talk</mat-icon> &nbsp;011 1234567</li>
                    <li><mat-icon>email</mat-icon> &nbsp;Email: info.eedu.gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
